<!DOCTYPE html>

    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title> Salon</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            
    </head>
    <body>
 <%- include('partials/navbar.ejs'); %>
      
 <br>
 <br>

 <br>
      <div class="container">
            <table class="table">
                    <thead class="thead-dark">

                      <tr>
                        <th scope="col">#</th>
                     <% for(var j=8; profil.radnoVreme+8 >j; j++){ %>
                                <% var i=j+1 %>
                                    <th scope="col"> <%=j +":"+"00"+"-"+i+":00"%> </th>           
                     <% } %> 
                        
                       
                      </tr>
                    </thead>
                    <tbody>
                            
                     <tr>
                        <th scope="row">termini</th>
                        <% for(var j=0; profil.radnoVreme>j; j++){ %> 
                         <% if(dani.termini[j].tip=="slobodan") %>
                                <th scope="col"><button class="btn btn-sm btn-success" > Slobodan termin </button> </th>       
                         <% } %> 
                      </tr>
                   
      </div>  
         
         
        
        
        
       
    </body>
</html>